body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #4b6cb7, #182848);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#container {
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 90%;
  animation: showUp 0.3s ease-out;
  overflow: hidden;
}

@keyframes showUp {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

h1 {
  margin-bottom: 20px;
  color: #000;
}

label {
  display: block;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.7);
}

input {
  padding: 8px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #000;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px 30px;
  background: linear-gradient(135deg, #ff512f, #dd2476);
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

#diceResult {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

#diceImages {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  animation: spreadOut 0.5s;
  flex-wrap: wrap;
}

@keyframes spreadOut {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

#diceImages img {
  width: 80px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

#diceImages img:hover {
  transform: scale(1.15) rotate(-2deg);
}

@media (max-width: 600px) {
  #diceImages {
    flex-wrap: wrap;
    flex-grow: 1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
  }

  #diceImages.expanded {
    max-height: 1000px;
  }
}

